$body-background-color: #a3cad2;
$body-foreground-color: #fef2fa;
$line-dividers-color: #000;
$link-color: #000;
// $body-background-color: #e1a9c2;
// $body-foreground-color: #fae28d;
// $line-dividers-color: #000000;
// $link-color: #000000;

/* Content stuff */
body {
  margin: 0 auto;
  background-color: $body-background-color;
  font-size: 1.7rem;
  font-family: Consolas, monaco, monospace, Verdana;
}

.ten.columns {
  background-color: $body-foreground-color;
  outline: solid 1px black;
  padding: 60px 100px 0px 100px;
}

/* Fill content to the botttom of the page. */
html, body, .container, .row {
  height: 100%;
}
.ten.columns {
  min-height: 100%;
}

/* Pad my name so that Skeleton can split it into two lines earlier. */
#my-name {
  padding-right: 100px;
}

/* Tell me I'm pretty. */
#my-face {
  height: 100px;
  float: right;
  margin: -115px 0px -100px 0px;
}

#top-divider {
  margin-top: -5px;
  margin-bottom: 20px;
}

#hello {
  padding-top: 5px;
}

hr {
  background-color: $line-dividers-color;
  border-width: 0px;
  height: 2px;
}

ul.fa-ul {
  li {
    i.fa-li {
      color: $link-color;
    }
  }
}

a {
  font-style: italic;
  text-decoration: none;
  color: $link-color;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
  color: $link-color;
}

/* Desktop first. Boooo mobile. */

/* If width <= 865px, my name splits into two lines, so move the content up a bit. */
@media (max-width: 865px) {
  .ten.columns {
    padding: 20px;
  }
}

/* If width <= 549px, Skeleton resizes so that the columns have width 100%,
 * so hide the side columns and adjust the content's top padding again. */
@media (max-width: 549px ) {
  .one.column {
    display: none;
  }
  .ten.columns {
    padding: 50px;
  }
}

/* If width <= 455px, my name splits into two lines, so same deal as above. */
@media (max-width: 455px) {
  .ten.columns {
    padding: 20px;
  }
}

/* For debugging. */
/*.columns, .row, .container {
    border: solid 1px black;
}*/
